<section class="py-xxl-10 pb-0" id="home">
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label>New Password :</label>
                        <input type="password" name="password" [(ngModel)]="resetPass.password" class="form-control">
                    </div>
                    <div class="row justify-content-md-center">
                        <button type="button" (click)="reset()" class="btn btn-success">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
