
<div class="add_jackpot" >
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#basicModal" (click)="showmodal()" style="font-size: 20px;margin-left: 677px;color: white;background-color: black;">
       +
      </button>
</div>
<div *ngIf="show">
<div id="basicModal" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Ajout d'une nouvelle jackpot</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
        </div>
        <form [formGroup]="jackpotForm" (submit)="handleSubmit()">  
            <div class="modal-body">
         
          <div class="row">
            <div class="col mb-3">
              <label for="nameBasic" class="form-label">Name or goal </label>
              <input type="text" id="nameBasic" formControlName="goal" class="form-control" placeholder="Enter the objectif of this jackpot">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label class="form-label">designation</label>
              <input type="text" id="designation" formControlName="designation" class="form-control" placeholder="Type something like txt ...">
            </div>
            
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label class="form-label">amount goal</label>
              <input type="text" id="designation" formControlName="amountgoal" class="form-control" placeholder="Type something like txt ...">
            </div>
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
          <button type="submit" class="btn btn-outline-primary"[disabled]="!jackpotForm.valid">Save changes</button>
        </div>
        
</form>
      </div>
    </div>
  </div>
</div>
<div class="row mb-5">
    <div class="col-md-6 col-lg-4 mb-3"   *ngFor="let jackpot of listofjackpots  |paginate: { itemsPerPage: 3, currentPage: p } " >
      <div class="card h-70" >
        <img class="card-img-top" src="../assets/img/elements/jack.jpg" alt="Card image cap">
        <div class="cardm">Rechead : {{jackpot.amount}} TND</div>
        <div class="card-body">
          <h5 class="card-title">{{jackpot.goal}}</h5>
          <p class="card-text">
          {{jackpot.designation}}
          </p>
          <div class="row">
            <section>
        <button class="btn btn-outline-secondary" style="margin-left: 40px;width: 121px;" (click)="att(jackpot.id)">Attribuate</button>
       <button class="btn btn-outline-danger" style="margin-left: 70px;width: 121px;" (click)="delete(jackpot.id)">delete</button>
       
      </section>
      
      </div>
   
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </div>
