<!--details-->
<div >
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Training</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header row">


            <h3 class="card-title col-md-9">{{training.subject}}</h3>
            <a class="btn btn-primary pl col-md-3"  style="color: aliceblue;"> <b>Create new training </b> </a>
          </div>
          

        
        </div>
        <div class="pl-3">

        </div>
      </div>
    </div>
  </div>
<!--end_details-->