
<div class="justify-content-center container" >
    <div class="col-md-1"></div>
    <div class="col-md-12" >
      <div class="row mb-5">
        <div class="col-md-6">
          <h1 class="justify-content-center" (click)="cursor(quiz.questions.length)">{{quiz.title}}</h1>
        </div>
        <div class="col-md-6">
          <h1 class="float-right"> <countdown [config]="{leftTime: quiz.timing*60}"></countdown></h1>
        </div>
      </div>
  
      <div >
        <div class="mb-5" >
          <div class="row">
            <div class="col-md-8">
              <h3 >Question {{i+1}} / {{quiz.questions.length}} :</h3>
            </div>
            <div class="col-md-4">
              <h3 class="float-right"><countdown [config]="{leftTime: compt}"></countdown></h3>
            </div>

          </div>
          <b>{{quiz.questions[i].question}}</b> 
        </div>
        <div (click)="rep(quiz.questions[i].op1)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op1}}</button></div>
        <div (click)="rep(quiz.questions[i].op2)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op2}}</button></div>
        <div (click)="rep(quiz.questions[i].op3)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op3}}</button></div>
        <div (click)="rep(quiz.questions[i].op4)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op4}}</button></div>
   
      </div>
      <!-- {{quiz.questions[i].question}} -->
    </div>
    <br>
    <!-- <div  (click)="valider()"><button class="btn btn-outline-success w-100 h-100"> valider</button></div> -->
    <ng-container *ngIf=" i < 10; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <div class="row float-right">
        <div  (click)="next()"><button class="btn btn-outline-success w-100 h-100"> Next</button></div>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <div class="row">
        <div  (click)="valider()"><button class="btn btn-outline-success w-100 h-100"> valider</button></div>
      </div>
    </ng-template>
    <!-- {{ques}} -->
  </div>
 
 
  

 

<!-- <ng-container *ngIf="i<1 || i<nbrQ; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <div class="justify-content-center container" >
            <div class="col-md-1"></div>
            <div class="col-md-12" >
              <div class="row mb-5">
                <div class="col-md-6">
                  <h1 class="justify-content-center" (click)="cursor(quiz.questions.length)">{{quiz.title}}</h1>
                </div>
                <div class="col-md-6">
                  <h1 class="justify-content-center">{{quiz.timing}}</h1>
                </div>
              </div>
          
              <div >
                <div class="mb-5" >
                  <h3 >Question {{i+1}} :</h3><b>{{quiz.questions[i].question}}</b> time: {{quiz.questions[i].time}} ||{{quiz.questions[i].id}}
                </div>
                <div (click)="rep(quiz.questions[i].op1)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op1}}</button></div>
                <div (click)="rep(quiz.questions[i].op2)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op2}}</button></div>
                <div (click)="rep(quiz.questions[i].op3)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op3}}</button></div>
                <div (click)="rep(quiz.questions[i].op4)" class="col-md-12 mb-5"><button class="btn btn-outline-success w-100 h-100">{{quiz.questions[i].op4}}</button></div>
          
              </div>
             
            </div>
          
          </div>
          <button (click)="valid()"> valider</button>
        </ng-template>
        <ng-template #elseTemplate>
            <div class="container">
<div class="card">
    <div class="card-header ">
        Thank you for your participation!
    </div>
    <div class="card-body ">
      
      <p class="card-text mb-3 mt-3">You will receive your result by email!</p>
      <a (click)="back()" class="btn btn-primary">Back to trainings</a>
    </div>
  </div>
</div>
        </ng-template>

  -->
