<br>
<h1 class="fw-bold py-3 mb-4" style="text-align:center;">
  Facebook Ads
</h1> 
<div class="demo-inline-spacing c1">
  <a href="/addAdv">
    <button type="button" class="btn rounded-pill btn-outline-primary ">Add</button></a>
</div>
<br>

<br> <div class="row">
<div style="width: 33%; padding-left: 100px;" *ngFor="let s of ListAds | paginate :{itemsPerPage:3,currentPage:currentPage}">
  <div class="col-md-1 col-xl-8">
    <div class="card mb-1">
      <img class="card-img-top" src="../assets/img/elements/{{s.upload}}" alt="Card image cap">
      <div class="card-body">

        <h5 class="card-title">{{s.nameAd}}</h5>
        <p class="card-text">
          From <strong>{{s.dateDeb}} </strong>to <strong>{{s.dateFin}} </strong>{{s.dateFin}}  </p>  Only For<p style="color: #e3bd9d ; font-weight : bold; font-size : 16px"> {{s.price}}$
        </p>
        <p class="card-text">
        </p>
      </div>

    </div>
    
  </div>

</div>
<div class="c">
  <pagination-controls (pageChange)="currentPage= $event"></pagination-controls>
</div>
</div>