<div class="card" [formGroup]="form">
  <div class="card-header">
    <div class="row col-md-10">
      <div class="col-md-1">
        <a class="nav-link" routerLink="/quiz" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">List |</a>
      </div>
      <div class="col-md-2">
        <a class="nav-link" routerLink="/create-quiz" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">Create quiz</a>
      </div>

    </div>

  </div>
  <div class="card-body container mt-3">
    <div class="row ">
      <div class="form-group col-md-7">
        <label><b>Quiz title : </b></label>
        <input type="text" name="title" class="form-control" formControlName="title">
        <span style="color: red;" *ngIf="title && title.invalid && title.touched">Title invalid</span>
      </div>
      <div class="form-group col-md-2 ml-3">
        <label><b>Timing : </b></label>
        <input type="number" name="timing" class="form-control" required min="5" formControlName="timing">
      </div>
      <div class="form-group col-md-2 ml-5">
        <label><b>Note : </b></label>
        <input type="number" name="notes" class="form-control" required min="5" formControlName="notes">
      </div>
    </div>
    
    <!-- <div class="col-md-12"
      style="background-color: rgb(233, 152, 195); height: 30px;">
        <h5>Questions</h5>
      </div> -->
 
    <div class="ml-2">
      <ng-container class=" " formArrayName="questions" *ngFor="let o of questions.controls; let i = index">
<div class="row">
  <div class="col-md-11">
    <b>Question {{i+1}}</b> 
  </div>
  <div class="col-md-1">
    <button class="btn btn-outline-danger mx-3 mt-1 mr-3"
    (click)="removeQuestion(i)"><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg></b></button>
  </div>
</div>
       


        <div class="row" [formGroupName]="i">
          <div class="row mr-5 mt-4">
            <div class="form-group">
              <textarea class="form-control col-md-12" rows="2" placeholder="Question"
                formControlName="question"></textarea>
            </div>

          </div>
          <div class="row  mr-4 ">
            <div class="form-group col-md-12">
              

                <input formControlName="op1" type="text" class="form-control mb-1" aria-label="Text input with checkbox"
                  placeholder="Option 1">
                <input formControlName="op2" type="text" class="form-control mb-1" aria-label="Text input with checkbox"
                  placeholder="Option 2">
                <input formControlName="op3" type="text" class="form-control mb-1" aria-label="Text input with checkbox"
                  placeholder="Option 3">
                <input formControlName="op4" type="text" class="form-control mb-1" aria-label="Text input with checkbox"
                  placeholder="Option 4">
            
            </div>


        

           
            <!-- <div class="col-md-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                            <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                            <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
                          </svg>
                          <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Timing" formControlName="time">
                        </div>
                    </div> -->



          </div>
          <div class="row">
          <div class="col-md-11">
            <input formControlName="reponse" type="text" class="form-control mb-1" aria-label="Text input with checkbox"
            placeholder="Correct response">
     
          </div>
          <div class="col-md-1">
            <input (ngModelChange)="onChange($event)" formControlName="note" type="text" class="form-control mb-1" aria-label="Text input with checkbox"
          placeholder="Note">
          </div>
        </div>
       


        </div>
        <hr style="color: burlywood;">
      </ng-container>
     
    </div>
    <hr>
    <button class="btn btn-outline-primary" (click)="addNewQuestion()">Add New Question</button>
    <hr>
  </div>
  <div class="card-footer text-center">
    <button (click)="onSave()" class="btn btn-primary">SAVE QUIZ</button>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">
    Result
  </div>
  <div class="card-body">
    <code>
      <pre>
                {{result |json}}
            </pre>
    </code>
  </div>
</div>
