<div class="card mt-2">
  <div class="card-header">
    <div class="row col-md-10">
      <div class="col-md-1">
        <a class="nav-link" routerLink="/training" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">List |</a>
      </div>
      <div class="col-md-2">
        <a class="nav-link" routerLink="/create-training" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">Create training</a>
      </div>

    </div>

  </div>
  <div class="card-body container">
    <form class="mt-5 ml-5" [formGroup]="form">

      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Subject : </b></label>
          <input type="text" name="subject" class="form-control" formControlName="subject" required>
          <small *ngIf="subject.invalid && subject.touched" class="text-danger">Subject is required</small>
        </div>
      </div>
      <div class="row col-md-10">

        <div class="form-group">
          <label><b>Domain : </b></label>
          <select class="form-control" id="r4" required (ngModelChange)="onChange($event)" formControlName="domain"
            name="deviceText">
            <option [value]="domain" *ngFor="let domain of domains">{{domain}}</option>
          </select>
          <small *ngIf="domain.invalid && domain.touched" class="text-danger">Domain is required</small>
        </div>
      </div>

      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Lavel : </b></label>
          <select class="form-control" id="r4" required (ngModelChange)="onChange($event)" formControlName="level"
            name="deviceText">
            <option [value]="level" *ngFor="let level of levels">{{level}}</option>
          </select>
          <small *ngIf="level.invalid && level.touched" class="text-danger">Subject is required</small>
        </div>
      </div>

      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Description : </b></label>
          <div class="form-floating">
            <textarea name="description" class="form-control" placeholder="Description" id="floatingTextarea"
              formControlName="description"></textarea>
            <small *ngIf="description.invalid && description.touched" class="text-danger">Subject is required</small>
          </div>
        </div>
      </div>

      <div class="row col-md-10">
        <div class="col-md-8">
          <div class="form-group">
            <label><b>Start date : </b></label>
            <input type="date" name="startDate" class="form-control" required formControlName="startDate">
            <small *ngIf="startDate.invalid && startDate.touched" class="text-danger">Subject is required</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label><b>Duration : </b></label>
            <input type="number" min="1" name="startDate" class="form-control" required formControlName="duration">
            <small *ngIf="duration.invalid && duration.touched" class="text-danger">Subject is required</small>
          </div>
        </div>

      </div>

      <!-- <div class="row col-md-10">
          <div class="form-group">
            <label><b>End date : </b></label>
            <input type="date" name="endDate" class="form-control" required formControlName="endDate" (ngModelChange)="validEndDate()" >
            <small *ngIf="endDate.invalid && endDate.touched" class="text-danger" >Subject is required</small>
          </div>
        </div> -->


      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Trainer name : </b></label>
          <input type="text" name="trainer" class="form-control" required formControlName="trainerName">
          <small *ngIf="trainerName.invalid && trainerName.touched" class="text-danger">Subject is required</small>
        </div>
      </div>

      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Capacity : </b></label>
          <input type="number" name="nbreMax" class="form-control" min=0 [disabled] required formControlName="nbreMax"
            onkeyup="if(this.value<0){this.value= this.value * -1}">
          <small *ngIf="nbreMax.invalid && nbreMax.touched" class="text-danger">Subject is required</small>
        </div>
      </div>

      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Price : </b></label>
          <input type="number" name="price" class="form-control" min=0 [disabled] required formControlName="price"
            onkeyup="if(this.value<0){this.value= this.value * -1}">
          <small *ngIf="price.invalid && price.touched" class="text-danger">Subject is required</small>
        </div>
      </div>




      <div class="row col-md-10">
        <div class="form-group">
          <label><b>Attach : </b></label>
          <img style="width: 100px;" class="mb-2 mt-1" [src]="urllink" *ngIf="urllink">
          <!--  <input type="file" name="file" class="form-control" min=0 [disabled] required (change)="onSelectFiles($event) "
             [(ngModel)]="training.image" accept="image/*"> -->
          <!-- <input
              #file
              type="file"
              accept="image/*"
              (change)="preview(file.files)"
          /> -->
          <input type="file" (change)="onFileChanged($event)">
          <img [src]="imgURL" height="200" *ngIf="imgURL">

        </div>
      </div>

      <div class="row col-md-10">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="isCertified" formControlName="isCertified">
          <label class="form-check-label" for="isCertified">
            <b>Certified</b>
          </label>
        </div>
      </div>


      <div class="row col-md-10 mt-3">
        <button [disabled]="form.invalid" (click)="onSave()" class="btn btn-dark"><i class="fa fa-database"></i>
          Submit</button>
        <!-- <button type="submit" class="btn btn-primary" (click)="saveForm(reactiveForm)" [disabled]="form.invalid">Save</button> -->
      </div>






    </form>

  </div>
</div>




<!-- style="padding-left: 50px; padding-right: 50px;" -->
<!-- 
<div class="card mt-3">
  <div class="card-header text-white bg-info">
    Create training
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label><b>Domain : </b></label>
          <select class="form-control" id="r4" required [ngModel]="training.domain" (ngModelChange)="onChange($event)"
            name="deviceText">
            <option [value]="domain" *ngFor="let domain of domains">{{domain}}</option>
          </select>
        </div>
        <div class="col-md-9 mb-3">
          <label><b>Subject : </b></label>
          <input type="text" name="subject" class="form-control" required [(ngModel)]="training.subject">
        </div>

      </div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label><b>Description : </b></label>
          <textarea rows="2" name="description" class="form-control" required
            [(ngModel)]="training.description"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label><b>Start date : </b></label>
          <input type="date" name="startDate" class="form-control" required [(ngModel)]="training.startDate">
        </div>
        <div class="col-md-6 mb-3">
          <label><b>End date : </b></label>
          <input type="date" name="endDate" class="form-control" required [(ngModel)]="training.endDate">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label><b>Capacity : </b></label>
          <input type="number" name="capacity" class="form-control" min=0 [disabled] required
            [(ngModel)]="training.nbreMax">
        </div>
        <div class="col-md-4 mb-3">
          <label><b>Trainer name : </b></label>
          <input type="text" name="trainer" class="form-control" required [(ngModel)]="training.trainerName">
        </div>
        
      </div>


      <div class="text-right">
        <button class="btn btn-info">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</div> -->
