      <div class="content-wrapper">

        <div class="container-xxl flex-grow-1 container-p-y">


          <h1 class="fw-bold py-3 mb-4" style="text-align:center;">
            Topics
          </h1>

          <br>
          <!-- <div class="card">
            <h5 class="card-header">Subject Tables</h5>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Domain</th>
                    <th>Vues</th>
                    <th>Like</th>
                    <th>Dislike</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr *ngFor="let s of ListSubject">
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>
                      {{s.description}}

                    </td>
                    <td>{{s.domaine}}</td>
                    <td>
                      {{s.nbVue}}
                    </td>
                    <td>
                      {{s.nbLike}}
                    </td>
                    <td>
                      {{s.nbDislike}}
                    </td>
                    <td>

                      <button type="button" class="btn rounded-pill btn-outline-primary" [routerLink]="['/updateSubject']">Update</button>
                       <button type="button" class="btn rounded-pill btn-outline-danger" (click)="deleteSubjectId(s.id) " onClick="window.location.reload();">Delete</button>
                  
                        
                           

                    </td>
                  </tr>

                </tbody>
              </table>

            </div> -->
            <div class="demo-inline-spacing c1">
              <a href="/addSubject">
                <button type="button" class="btn rounded-pill btn-outline-secondary ">Add</button></a>
            </div>  
            <br>

          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let s of ListSubject | paginate :{itemsPerPage:3,currentPage:currentPage}"> 
              <div class="card h-100">
                <img class="card-img-top" src="assets/img/elements/{{s.imageSubject}}" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">{{s.name}} </h5>
                  <p class="card-text">{{s.description}}</p>
                  <button type="button" class="btn btn-label-success" [routerLink]="['/updateSubject']">Update</button>
                  <button type="button" class="btn btn-label-danger" (click)="deleteSubjectId(s.id)"
                    onClick="window.location.reload();">Delete</button>

                </div>
              </div>

            </div>
            
          </div>
        </div>
        <div class="c">
        <pagination-controls (pageChange)="currentPage= $event"></pagination-controls>
      </div>
      </div>
  
